@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  @apply font-bold bg-[#AEFFB8] shadow-lg text-[#4F378B];
}

.sidebar_items_container {
  @apply text-[16px]  text-center  mx-[8px] px-[92px] py-[16px] rounded-[8px] mb-[8px];
}
